.array {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}

.cell {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}

.cellTitle {
    background-color: lightgray;
}

.row {
    display: flex;
}

.dataSide {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid;
}

.title {
    border: 2px solid;
    background-color: lightgray;
}

.image {
    width: 50px;
    height: 50px;
}

.imageBig {
    width: 90px;
    height: 150px;
}